@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #286291;
    --background: white;
    --card-background: #f9fbf2;
    --form-background: #e8ebe4;
    --footer-color: #132f45;
    --title-background: #b8bacf;
    --txt-p: black;

    --h1-px: 2.5rem;
    --h2-px: 1.5rem;
    --h3-px: 1.25rem;
    --h4-px: 1.125rem;
    --h5-px: 1rem;
    --h6-px: 0.875rem;
    --p-px: 1.15rem;
    --txtSmall-px: 0.75rem;
}

*{
    font-family: 'Montserrat';
}


#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainSection{
    flex-grow: 1;
    
}
footer{
    background-color: #132f45;
}

.subrayado {
    display: inline-block; /* Asegura que el borde se ajuste al texto */
    border-bottom: 3px solid #286291; /* Línea subrayada de color y grosor personalizado */
    padding-bottom: 5px; /* Espacio entre el texto y la línea */
  }
  .resaltado {
    color: #286291;      
    font-weight: bold; 
  }

.img-logo-about {
    border: 1px solid #286291;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5); /* Sombra solo debajo */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    transition: transform 0.3s; /* Animación suave al pasar el mouse */
  }
  
  .img-logo-about:hover {
    transform: translateY(-5px); /* Hace que "flote" un poco al pasar el mouse */
  }
  
  .card-custom{
    background-color: #286291;
    width: 500px;
    height: 500px;
  }
  .mission{
    border-radius: 0 50% 50% 0;
  }
  .vision{
    border-radius: 50% 0 0 50%;
  }